{{ room | json }}

<form (ngSubmit)="addRoom()">
  <div class="form-group">
    <input [(ngModel)]="room.roomType" class="form-control" name="roomType" placeholder="Room Type"
           type="text"
    >
  </div>
  <div class="form-group">
    <input [(ngModel)]="room.roomPrice" class="form-control" name="roomPrice" placeholder="Price" type="number">
  </div>
  <div class="form-group">
    <input [(ngModel)]="room.amenities" class="form-control" name="amenities" placeholder="Amenities" type="text">
  </div>

  <div class="form-group">
    <input [(ngModel)]="room.checkInTime" class="form-control" name="checkInTime" placeholder="CheckIn Time"
           type="date">
  </div>
  <div class="form-group">
    <input [(ngModel)]="room.rating" class="form-control" name="rating" placeholder="Rating" type="number">
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
