<div class="container-fluid">
  <h2>
    Registration Form
  </h2>
  {{registrationForm.value | json}}
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="registrationForm.get('userName')?.invalid
       && registrationForm.get('userName')?.touched"
             class="form-control" formControlName="userName" type="text">

      <div [class.d-none]="registrationForm.get('userName')?.valid
            || registrationForm.get('userName')?.untouched"
           class="text-danger">
        <small *ngIf="registrationForm.get('userName')?.errors?.['required']" class="text-danger">Username is
          required</small>
        <small *ngIf="registrationForm.get('userName')?.errors?.['minlength']" class="text-danger">Username must be at
          least 4 length</small>
        <small *ngIf="registrationForm.get('userName')?.errors?.['forbiddenName']"
               class="text-danger">{{registrationForm.get('userName')?.errors?.['forbiddenName'].value}} Username is
          forbidden</small>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <button (click)="addAlternateEmail()" class="btn btn-secondary btn-sm m-2" type="button">Add e-mail</button>
      <input
        [class.is-invalid]="registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.errors?.['invalid']"
        class="form-control"
        formControlName="email"
        type="text">
      <small [class.d-none]="email?.valid && email?.untouched" class="text-danger">
        Email is required
      </small>
      <div *ngFor="let email of alternateEmails.controls; let i=index" formArrayName="alternateEmails">
        <input [formControlName]="i" class="form-control my-1" type="text">

      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" formControlName="password" type="password">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.['misMatch']" class="form-control"
             formControlName="confirmPassword" type="password">
      <small *ngIf="registrationForm.errors?.['misMatch']" class="text-danger">Password do not match</small>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input class="form-control" formControlName="city" type="text">
      </div>

      <div class="form-group">
        <label>State</label>
        <input class="form-control" formControlName="state" type="text">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input class="form-control" formControlName="postalCode" type="text">
      </div>
    </div>


    <button class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadApiData()" class="btn btn-secondary ml-2" type="submit">Load API Data</button>
  </form>
</div>
