<p>rooms.component.html</p>
{{ hotelName }}

<div
  [ngStyle]="{ color: numberOfRooms > 0 ? 'steelblue' : 'red' }"
  [innerText]="'NumberOfRooms:' + numberOfRooms"
></div>

<button (click)="onClick()">Toggle</button>
<div [hidden]="hideRooms">Hide me! Hide me!</div>

<br />
<div *ngIf="rooms.availableRooms > 0">
  Room List

  <table border="solid">
    <tr>
      <th>Index</th>
      <th>Room number</th>
      <th>Room type</th>
      <th>Room price</th>
      <th>Amenities</th>
      <th>Checkin Time</th>
    </tr>
    <tr
      [ngClass]="i % 2 === 0 ? 'even' : 'odd'"
      *ngFor="let room of roomList; let i = index"
    >
      <td>{{ i }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.roomPrice }}</td>
      <td>{{ room.amenities }}</td>
      <td>{{ room.checkInTime }}</td>
    </tr>
  </table>
</div>
