<p>rooms.component.html</p>

<div
  [ngStyle]="{
    color: rooms.totalRooms - rooms.bookedRooms > 0 ? 'steelblue' : 'red'
  }"
  [innerText]="'NumberOfRooms: ' + rooms.totalRooms"
></div>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list
    [rooms]="roomList"
    [hotelName]="hotelName"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>
<br />
<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>
<div>
  <button (click)="addRoom()">Add Room</button>
</div>
<br />
<button (click)="onClick()">Toggle</button>
<div [hidden]="hideRooms">Hide me! Hide me!</div>
