<!--<hinv-header></hinv-header>-->

<!--{{rooms$ | async | json}}-->
<!--{{ getError$ | async }}-->
<!--<h1>Number of Rooms: {{ roomsCount$ | async | json }}</h1>-->
<div *ngIf="rooms$ | async as rooms">
  <hinv-rooms-list (selectedRoom)="roomSelected($event)" [rooms]="rooms" [title]="title"></hinv-rooms-list>
</div>

<!--<h1>{{ totalBytes }} loaded</h1>-->

<!--<div *ngIf="selectedRoom">-->
<!--    {{ selectedRoom | json }}-->
<!--</div>-->

<div>
  <button routerLink="add">Add Room</button>
</div>

<!--<div>-->
<!--  <button (click)="editRoom()">Edit Room</button>-->
<!--</div>-->

<!--<div>-->
<!--  <button (click)="deleteRoom()">Delete Room</button>-->
<!--</div>-->

<!--<div>-->
<!--  <button (click)="toggle()">Toggle</button>-->
<!--</div>-->


<!--<div *ngIf="hideRooms">-->
<!--  <p>This is hidden text!!!</p>-->
<!--</div>-->

<router-outlet></router-outlet>
