<form>
  <div class="form-group" colour="green" hinvHover>
    <input #emailControl="ngModel" [(ngModel)]="email" class="form-control" hinvEmailValidator hinvHover name="name"
           placeholder="Email"
           type="email">
  </div>
  <div>
    {{ emailControl.errors | json }}
  </div>
  <div class="form-group" colour="steelblue" hinvHover>
    <input [(ngModel)]="password" class="form-control" name="password" placeholder="Password" type="password">
  </div>
  <div class="form-group">
    <button (click)="login()" class="btn btn-primary">
      Login
    </button>
  </div>
</form>
